.popup__container-show {
  margin: 90px auto 0 auto;
  padding: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 38%;
  right: 38%;
}

@media (max-width: 767px) {
  .popup__container-show {
    margin: 136px auto 0 auto;
  }
}