.popup__show-title {
    margin: 0 0 0 40px;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FFFFFF;
    max-height: 12px;
    max-width: 291px;
    align-self: start;
    font-style: normal;
  }

  @media (max-width: 767px) {
    .popup__title {
      max-width: 240px;
    }
  }