.popup__show-title {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.21;
    color: #000000;
    height: 12px;
    max-width: 291px;
  }

  @media (max-width: 767px) {
    .popup__title {
      max-width: 240px;
    }
  }